<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutNew</title>
    @Styles.Render("~/bundles/charisma.css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bowser_components")
    @Scripts.Render("~/bundles/charisma")

    <script type="text/javascript">
        if (window.location.hash && window.location.hash == '#_=_') {
            if (window.history && history.pushState) {
                window.history.pushState("", document.title, window.location.pathname);
            } else {
                // Prevent scrolling by storing the page's current scroll offset
                var scroll = {
                    top: document.body.scrollTop,
                    left: document.body.scrollLeft
                };
                window.location.hash = '';
                // Restore the scroll offset, should be flicker free
                document.body.scrollTop = scroll.top;
                document.body.scrollLeft = scroll.left;
            }
        }
    </script>
</head>
<body>
    <!-- topbar starts -->
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-inner">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Profile", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <!-- user dropdown starts -->
            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> admin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                </ul>
            </div>
        </div>

    </div>
    <!-- topbar ends -->

    <div class="ch-container">
        <div class="row">
            <!-- left menu starts -->
            <div class="col-sm-2 col-lg-2">
                <div class="sidebar-nav">
                    <div class="nav-canvas">
                        <div class="nav-sm nav nav-stacked">
                        </div>
                        <ul class="nav nav-pills nav-stacked main-menu">
                            <li class="nav-header">Main</li>
                            <li>
                                <a class="ajax-link" href="index.html"><i class="glyphicon glyphicon-home"></i><span> PROFILE </span></a>
                            </li>
                            <li>
                                <a class="ajax-link" href="ui.html"><i class="glyphicon glyphicon-eye-open"></i><span> LEARN MORE </span></a>
                            </li>
                            <li>
                                <a class="ajax-link" href="ui.html"><i class="glyphicon glyphicon-eye-open"></i><span> SERCH </span></a>
                            </li>
                            <li>
                                <a class="ajax-link" href="ui.html"><i class="glyphicon glyphicon-eye-open"></i><span> TRENDING </span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- left menu ends -->

            <div id="content" class="col-lg-10 col-sm-10">
                <!-- content starts -->
                @RenderBody()
                <!-- content ends -->
                <div id="fb-root"></div>
                <!--
                <script>
                    (function(d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0];
                      if (d.getElementById(id)) return;
                      js = d.createElement(s); js.id = id;
                      js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.7&appId=265376773557253";
                      fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script>
                
                <script src="@Url.Content("~/scripts/Facebook.js")" type="text/javascript"></script>
                <script type="text/javascript">
                    $(function () {
                        InitialiseFacebook('@System.Configuration.ConfigurationManager.AppSettings["FacebookAppId"]');
                    });
                </script>
                -->
            </div>
        </div>
    </div>

</body>
</html>
